.main{
  width: 80%;
  margin: 0 auto;
}
.flex {
  display: flex;
  flex-flow: column wrap;
}

.flex-item {
  padding: 1rem;
  background-color: rgb(193, 36, 36);
  border: 2px solid rgba(148, 163, 184, .1);
  border-radius: .75rem;
  margin-bottom: 1rem;
}